# Description

In this notebook we prepare data for the TBNNs algorithm.

# Import

In [1]:
import pandas as pd
from scipy.interpolate import interp1d

# Re_tau = 180

In [2]:
data = pd.read_csv('data/DNS/Re_tau_180/data.csv')

In [3]:
data = data.rename(columns={'ut+': 'ut', 'vt+': 'vt'})

In [4]:
nu = 0.00035
u_tau = 0.063012

data['y'] = data['y+'] * nu / u_tau

In [5]:
data.to_csv('data/DNS/Re_tau_180/processed_data.csv', index=False)

In [6]:
data

,y+,Pr*y+,t_mean,t_rms,ut,vt,y
0,0.00000,0.00000,-2.380000e-14,0.00000,0.000000,0.000000e+00,0.000000
1,0.05421,0.03795,3.794000e-02,0.01376,0.000257,7.798000e-08,0.000301
2,0.21680,0.15180,1.517000e-01,0.05502,0.004108,5.019000e-06,0.001204
3,0.48770,0.34140,3.409000e-01,0.12380,0.020820,5.773000e-05,0.002709
4,0.86670,0.60670,6.051000e-01,0.22000,0.065920,3.287000e-04,0.004814
...,...,...,...,...,...,...,...
60,162.40000,113.60000,1.449000e+01,0.74050,0.321100,9.069000e-02,0.902050
61,166.80000,116.70000,1.451000e+01,0.73030,0.307500,6.799000e-02,0.926490
62,171.20000,119.80000,1.452000e+01,0.72360,0.297700,4.519000e-02,0.950930
63,175.60000,122.90000,1.453000e+01,0.71980,0.291800,2.223000e-02,0.975370
64,180.00000,126.00000,1.481000e+01,0.73240,0.295400,-4.245000e-02,0.999810

# Re_tau = 395

In [7]:
data1 = pd.read_csv('data/DNS/Re_tau_395/data1.csv')
data2 = pd.read_csv('data/DNS/Re_tau_395/data2.csv')

In [8]:
f = interp1d(data2['y+'], data2['-vt+'], kind='cubic', fill_value='extrapolate')

In [9]:
data1['vt'] = f(data1['y+'])

In [10]:
data1 = data1.rename(columns={'ut+': 'ut'})

In [11]:
nu = 0.000145
u_tau = 0.0574282

data1['y'] = data1['y+'] * nu / u_tau

In [12]:
data1.to_csv('data/DNS/Re_tau_395/processed_data.csv', index=False)

In [13]:
data1

            y+    t_mean+    t_rms+        ut            vt         y
0     0.147713   0.105196  0.043629  0.002284  8.602276e-07  0.000373
1     0.452484   0.322238  0.133655  0.021509  6.196560e-05  0.001142
2     0.778054   0.554056  0.229810  0.063791  3.209464e-04  0.001965
3     1.128718   0.803625  0.333257  0.134593  9.980751e-04  0.002850
4     1.508913   1.073929  0.445059  0.240861  2.420200e-03  0.003810
..         ...        ...       ...       ...           ...       ...
91  365.681400  17.197440  0.819030  0.338043  8.582704e-02  0.923306
92  372.196100  17.212270  0.809589  0.325939  6.795247e-02  0.939755
93  378.711200  17.223500  0.802192  0.316664  5.007645e-02  0.956205
94  385.226700  17.231020  0.796982  0.310177  3.221597e-02  0.972656
95  391.742200  17.234720  0.794124  0.306355  1.436497e-02  0.989107

[96 rows x 6 columns]

# Re_tau = 640

In [14]:
data1 = pd.read_csv('data/DNS/Re_tau_640/data1.csv')
data2 = pd.read_csv('data/DNS/Re_tau_640/data2.csv')

In [15]:
f = interp1d(data2['y+'], data2['-vt+'], kind='cubic', fill_value='extrapolate')

In [16]:
data1['vt'] = f(data1['y+'])

In [17]:
data1 = data1.rename(columns={'ut+': 'ut'})

In [18]:
nu = 0.000085
u_tau = 0.0545496

data1['y'] = data1['y+'] * nu / u_tau

In [19]:
data1.to_csv('data/DNS/Re_tau_640/processed_data.csv', index=False)

In [20]:
data1

             y+    t_mean+    t_rms+        ut            vt         y
0      0.152332   0.108567  0.046244  0.002545  9.812359e-07  0.000237
1      0.465121   0.331488  0.141205  0.023819  7.082255e-05  0.000725
2      0.796417   0.567560  0.241763  0.070067  3.628323e-04  0.001241
3      1.150779   0.819940  0.349174  0.146682  1.116028e-03  0.001793
4      1.532855   1.091753  0.464565  0.260591  2.677844e-03  0.002389
..          ...        ...       ...       ...           ...       ...
123  604.342200  18.318380  0.816310  0.330641  6.593304e-02  0.941695
124  612.176600  18.327600  0.810176  0.322235  5.244925e-02  0.953903
125  620.060200  18.334740  0.805223  0.315586  3.886082e-02  0.966187
126  627.996300  18.339820  0.801523  0.310767  2.517029e-02  0.978553
127  635.989000  18.342780  0.799106  0.307802  1.138270e-02  0.991008

[128 rows x 6 columns]

# Re_tau = 1200

In [21]:
data1 = pd.read_csv('data/DNS/Re_tau_1200/data1.csv')
data2 = pd.read_csv('data/DNS/Re_tau_1200/data2.csv')

In [22]:
f = interp1d(data2['y+'], data2['-vt+'], kind='cubic', fill_value='extrapolate')

In [23]:
data1['vt'] = f(data1['y+'])

In [24]:
data1 = data1.rename(columns={'ut+': 'ut'})

In [25]:
nu = 0.00004
u_tau = 0.0492922

data1['y'] = data1['y+'] * nu / u_tau

In [26]:
data1.to_csv('data/DNS/Re_tau_1200/processed_data.csv', index=False)

In [27]:
data1

              y+    t_mean+    t_rms+        ut        vt         y
0       0.153945   0.109263  0.047908  0.002717  0.000001  0.000125
1       0.465827   0.330618  0.144973  0.024979  0.000073  0.000378
2       0.786334   0.558057  0.244696  0.071404  0.000360  0.000638
3       1.116760   0.792426  0.347368  0.144384  0.001051  0.000906
4       1.458420   1.034520  0.453183  0.246555  0.002374  0.001183
..           ...        ...       ...       ...       ...       ...
219   987.441000  19.484800  0.796024  0.328472  0.035004  0.801296
220   994.627000  19.487800  0.793987  0.325780  0.027279  0.807127
221  1001.840000  19.490000  0.792426  0.323746  0.019523  0.812981
222  1009.080000  19.491500  0.791367  0.322379  0.011738  0.818856
223  1016.360000  19.492300  0.790833  0.321690  0.003914  0.824763

[224 rows x 6 columns]